$color-banner: #f3f3fa;
$color-primary: #5a47c0;
$color-secondary: #ff1f8e;
$color-tertiary: #ffbd84;
$color-white: #ffffff;
$color-gray: #666666;
$color-title: #0F110F;

$font-primary: 'Montserrat', sans-serif;

*{
    outline: 0;
}

html,
body
{
    overflow-x: hidden;
}

body{
    --bs-body-font-family: #{$font-primary};
    --bs-body-color: #{$color-title};
}

p{
    color: $color-gray;
}

.section-gap{
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-header{
    margin-bottom: 60px;

    &__title{
        font-weight: 600;
        margin-bottom: 0.8em;

        &__sentence{
            display: block;
            padding-bottom: 0.3em;
        }

        &__badge{
            display: inline-block;
            background-color: $color-banner;
            text-transform: lowercase;
            padding: 5px 10px;
            color: $color-primary;
            border: 3px solid $color-white;
            border-radius: 8px;
            box-shadow: 0 0.3em 1em rgba(#000000, $alpha: 0.2);
            transform: rotate(-2deg);
            transform-origin: left top;
        }
    }

    &__text{
        font-size: 20px;
    }
}

.btn{
    box-shadow: none !important;
    
    &-primary{
        --bs-btn-bg: #{$color-primary};
        --bs-btn-border-color: #{$color-primary};

        --bs-btn-hover-bg: #{$color-secondary};
        --bs-btn-hover-border-color: #{$color-secondary};

        --bs-btn-active-bg:  #{$color-primary};
        --bs-btn-active-border-color:  #{$color-primary};
    }
}

.highlight-word{
    position: relative;

    &__shape{
        position: absolute;
        top: 0;
        left: 0;
        transform:translateX(-100%) translateY(-50%);
        user-select: none;
        pointer-events: none;

        @media (max-width: 630px) {
            display: none;
        }

        &__image{
            display: block;
            max-height: 40px;

            &--white{
                filter: invert(1);
            }
        }
    }
}

.btn-text{
    color: $color-primary;
    font-weight: 500;
    
    &:hover,
    &:focus
    {
        color: $color-secondary;
    }
}

.social-nav{
    gap: 10px;

    &__link{
        $size: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: $size;
        height: $size;
        border-radius: 50%;
        color: $color-title;
        background-color: $color-white;
        text-decoration: none;
        transition: all 0.2s ease-in-out;

        &:hover,
        &:active,
        &:focus-visible
        {
            color: $color-white;
            background-color: $color-primary;
        }
    }
}

.modal-content{
    background-color: $color-banner;
}

.form{
    &-label{
        font-weight: 600;
    }

    &-control,
    &-select
    {
        font-weight: 500;
        border: 2px solid $color-primary !important;
        box-shadow: none !important;
    }

    &-select{
        cursor: pointer;
    }
}

.navbar,
.header
{
    background-color: $color-banner;
}

/* Banner Section */
.header{
    position: relative;
    padding-top: 30px;

    &__title{
        font-weight: 600;
        margin-bottom: 30px;

        &__sentence{
            display: block;

            &:first-child{
                color: $color-primary;
                @media (min-width: 992px){
                    font-size: 60px;
                }
                font-weight: 700;
            }
        }
    }

    &__frame,
    .header__frame__window
    {
        overflow: hidden;
    }

    &__frame{
        position: relative;
        padding-top: 40vh;
        @media (min-width: 420px){
            padding-top: 55vh;
        }
        @media (min-width: 768px){
            padding-top: 65vh;
        }
        margin-left: auto;
        margin-right: auto;
        transform-style: preserve-3d;
        perspective: 1000px;

        &__window,
        .header__frame__window__screen
        {
            position: absolute;
        }
        
        &__window{
            inset: 20px;
            @media (min-width: 768px){
                inset: 40px;
            }
            @media (min-width: 992px){
                transform: translateX(-8%) rotateY(-25deg);
                inset: 80px;
            }
            height: 150%;
            transform-style: preserve-3d;
            perspective: 1000px;
            
            &__screen{
                border: 10px solid $color-white;
                border-radius: 20px 20px 0 0;
                border-bottom: 0;
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-fit: cover;
                object-position: center top;
            }
        }

    }

    &__shape,
    &__shape::after
    {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
    }

    &__btn{
        position: relative;
        margin-bottom: -2%;
    }

    &__shape{
        $space-diff: 1px;
        bottom: -$space-diff;
        z-index: 1;
        text-align: center;

        &::after{
            content: '';
            bottom: $space-diff;
            z-index: -1;
            height: 150%;
            background-image:
                linear-gradient(
                    to top,
                    rgba(#4da8f4, $alpha: 0.3),
                    transparent
                );
        }

        &__element{
            color: $color-white;
            display: block;
        }
        
    }

}

/* Service Section */
.service{
    position: relative;
    isolation: isolate;

    &::before,
    &::after
    {
        content: '';
        position: absolute;
        z-index: -1;
        filter: blur(150px);
        width: var(--size);
        height: var(--size);
        border-radius: var(--size);
    }

    &::before{
        --size: 400px;
        top: 20%;
        left: 0;
        transform: translateX(-30%);
        background-color: rgba($color-primary, $alpha: 0.2);
    }

    &::after{
        --size: 300px;
        bottom: 0;
        right: 0;
        background-color: rgba($color-tertiary, $alpha: 0.2);
    }


    &__item{
        &:not(:last-child){
            margin-bottom: 30px;
        }
        @media (min-width: 992px) {
            margin-top: calc(var(--index) * 50px);
        }
    }

    &-card{
        padding: 30px 20px;
        @media (min-width: 500px) {
            padding: 40px;
        }
        background-color: $color-white;
        box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
        border-radius: 25px;
    
        &__icon{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 65px;
            height: 65px;
            font-size: 25px;
            border-radius: 50%;
            color: $color-primary;
            background-color: darken($color-banner, $amount: 1);
        }
    
        &__title{
            font-size: 24px;
            font-weight: 600;
            margin-top: 0.8em;
            margin-bottom: 0.8em;
        }
    
        &__text{
            font-size: 18px;
        }
    }
}

/* Footer Section */
.footer{
    color: $color-white;
    background-color: #0f110f;
    
    &__top{
        $spacing: 80px;
        padding-top: $spacing;
        padding-bottom: $spacing;
    }

    &__bottom{
        $spacing: 30px;
        padding-top: $spacing;
        padding-bottom: $spacing;
        border-top: 1px solid rgba($color-white, $alpha: 0.1);
    }

    @media (max-width: 991.98px) {
        &__block:not(:last-child){
            margin-bottom: 30px;
        }
    }


    &__title{
        color: $color-white;
        font-size: 22px;

        @media (min-width: 1199.98px) {
            font-size: 28px;
        }

        font-weight: 600;
        margin-bottom: 0.7em;

        &__link{
            color: inherit;
            text-decoration: none;
            word-wrap: anywhere;

            &:hover,
            &:active,
            &:focus-visible
            {
                color: $color-secondary;
                text-decoration: underline;
            }
        }
    }

    &__text{
        color: $color-white;
        font-weight: 500;
        margin-bottom: 0;

        &__link{
            color: $color-secondary;

            &:hover,
            &:active,
            &:focus-visible
            {
                color: $color-white;
                text-decoration: underline;
            }
        }
    }
}